<template>
<div class="deal-form">
  <div class="title">New Deal</div>
  <form v-on:submit.prevent="onSubmit" class="form">
    <input v-model="form.title" class="input" type="text" placeholder="title" required>
    <input v-model="form.coord" class="input" type="text" placeholder="lat, lng" required>
    <button class="button" type="submit">Create</button>
  </form>
</div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        title: '',
        coord: ''
      }
    }
  },
  methods: {
    onSubmit () {
      this.$emit('submit', { ...this.form })
      this.form.title = ''
      this.form.coord = ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/styles/theme.scss';

.deal-form {
  padding: 8px;
  border: 2px solid $theme--color-primary;
}
.title {
  @include title;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  @include input;
}
.button {
  @include button;
  margin-top: 8px
}
</style>
